@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
body{
    background-image: url(8/the\ witcher\ hell.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container-header{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.container-simbol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 28%;
    height: 115px;
    padding: 10px;
}

.img-logo{
    width: 50px;
    cursor: pointer;
}

.name-logo{
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 15%;
}

ul li{
    font-size: 7em; 
    cursor: pointer;
    color: rgb(216, 216, 216);
    list-style: none;
}

li:hover{
    color: white;
    font-weight:bold;
}

.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.img-main{
    background-image: url("8/the\ witcher\ kavil2@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 50%;
    height: 100vh;
}

.group-center{
    margin-top: 22em;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-items: flex-end;
}
  
.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    
}


.img-center{
    width: 70%;
    margin-bottom: 25px;
}

button{
    width: 250px;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    background: #c10f1c;
    color: white;
    transition: 1s all;
    box-shadow: 0px 11px 14px 0px #000;
}

button:hover{
    transform: scale(1.1);
    background-color: rgb(128, 185, 43);
}

.img-center{
    width: 70%;
    margin-bottom: 25px;
}

button{
    width: 250px;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #c10f1c;
    color: white;
    transition: 1s all;
    box-shadow: 0px 11px 14px 0px #000;
}

button:hover{
    transform: scale(1.1);
    background-color: rgb(107, 14, 14);
}

@media(max-width: 1200px){
    nav{
        width: 80%;
    }
    body{
       background-size:auto;
    }
}

@media(max-width: 800px){

    .container-simbol{
        width: 80%;
        position: relative;
        left: 11%;
    }

    .name-logo{
        display: none;
    }
   

    nav{
        display: none;
    }

    .nav-witcher{
        width: 100%;
        height: 230px;
        display: flex;
        position: absolute;
        top: 115px;
        right: 0px;
        background-color: rgba(27, 26, 26, 0.6);
    }


    ul{
        flex-direction: column;
        height: 60em;
    }
}